* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0;
}

:root {
  --primary-color: #ffe55c;
}

#page-container {
  display: flex;
  gap: 40px;
}

#learning-result {
  border: 1px solid #333;
  padding: 20px;
}

#mascot-container {
  /* border: 1px solid #333; */
}

body {
  margin: auto;
  text-align: center;
  margin-top: 60px;
}

label {
  border: 1px solid #333;
  padding: 10px 20px;
  width: 80%;
  margin: 0 auto;
  background-image: linear-gradient(rgb(208, 251, 183), rgb(168, 250, 240));
}

.divider {
  width: 90%;
  height: 1px;
  background-color: rgb(250, 204, 205);
  margin: auto;
}

.divider2 {
  width: 30%;
  background-color: rgb(204, 229, 250);
}

label {
  margin-top: 30px;
  display: block;
  font-weight: 700;
}

ul.list {
  margin: 10px auto;
  width: 60%;
}

li.list-item {
  display: block;
  border: 1px solid #333;
  padding: 8px 12px;
}

li.list-item:hover {
  background-color: rgb(203, 250, 244);
  cursor: pointer;
}
