* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Rubik", sans-serif;
  scroll-behavior: smooth;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  padding: 32px 20px 20px 20px;
  background-color: #fdf2e9;
  position: fixed;
  width: 100%;
  z-index: 10000000;
}

.header-nav .nav-item {
  font-size: 16px;
  font-weight: 500;
  color: #333;
  text-decoration: none;
  margin-right: 20px;
  transition: all 0.3s;
}

.header-nav .nav-item.visited {
  padding: 12px 24px;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}

.header-nav .nav-item:hover {
  opacity: 0.7;
  cursor: pointer;
}

.header-nav .omni-logo {
  width: 148px;
}

#hero-content-container {
  background-color: #fdf2e9;
  padding-bottom: 68px;
}

.hero-content {
  display: flex;
  padding: 48px 0px 96px 0px;
  padding: 20px;
  margin: 0;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 80px;
}

.hero-content .hero-left-content {
  flex: 1;
  padding: 20px;
}

/* .hero-content .hero-text {
} */

.hero-content .hero-main-text {
  flex: 1;
  font-weight: 700;
  font-size: 52px;
  color: #333;
  margin-bottom: 32px;
}

.hero-content .hero-des {
  font-weight: 400;
  margin-bottom: 32px;
  margin-bottom: 48px;
  color: #555;
}

.hero-interaction a {
  text-decoration: none;
  font-weight: 600;
  padding: 16px 32px;
  border-radius: 9px;
  margin-bottom: 80px;
  overflow: hidden;
}

.hero-interaction .bt-start-eating-hero {
  background-color: #e67e22;
  color: #fff;
  margin-right: 16px;
}
.hero-interaction .bt-learn-more {
  background-color: #fff;
  color: #555;
}

.hero-statistic {
  margin-top: 80px;
  display: flex;
  line-height: 48px;
}

.hero-statistic .customer-img {
  width: 48px;
  border-radius: 100%;
  border: 2px solid #fdf2e9;
  margin-left: -16px;
}

.hero-statistic .customer-img:first-child {
  margin-left: 0px;
}

.static-des {
  font-weight: 600;
  margin-left: 10px;
  color: #555;
}

.static-des .number {
  color: #e67e22;
}

.hero-content .hero-img {
  flex: 1;
  width: 50%;
  max-width: 570px;
}

/* as featured */

#as-feature-in {
  padding: 48px 0px 32px 0px;
}

#as-feature-in .title {
  text-transform: uppercase;
  text-align: center;
  color: #888;
  font-size: 14px;
  font-weight: 500;
}

.feature-list {
  display: flex;
  height: 32px;
  padding: 32px;
  justify-content: space-around;
}

.feature-list .feature-img {
  filter: brightness(0);
  opacity: 50%;
  height: 32px;
}

/* how it work */
#how-it-work {
  margin-top: 96px;
  margin-bottom: 280px;
}

.title {
  text-transform: uppercase;
  font-size: 16px;
  color: #cf711f;
}

.des {
  font-size: 44px;
  color: #333;
  margin-top: 16px;
}

.step-by-step {
  margin-top: 266px;
}

.step-1 {
  margin-top: 96px !important;
}

.step-by-step .step-concrete {
  display: flex;
}

.step-by-step .step-content {
  width: 50%;
}

.step-by-step .step-number {
  color: #ddd;
  font-size: 86px;
  font-weight: 600;
}

.step-by-step .title {
  color: #333;
  font-size: 30px;
  font-weight: 600;
  text-transform: unset;
}

.step-by-step .des {
  margin-top: 32px;
  font-size: 18px;
  color: #555;
}

.step-img-container {
  width: 50%;
}

.img-container {
  width: 50%;
  text-align: right;
  position: relative;
}

.img-container .step-img {
  width: 186px;
  position: absolute;
  z-index: 10;
  left: 60%;
}

.img-container .bg-screen {
  position: absolute;
  left: calc(50% + 36px);
}

.bg-screen .circle-1 {
  width: 260px;
  background-color: #fae5d3;
  border-radius: 100%;
  height: 260px;
  top: calc(100% + 50px);
  left: calc(-40px);
  position: absolute;
}

.img-container .circle-2 {
  width: 300px;
  background-color: #fdf2e9;
  border-radius: 100%;
  height: 300px;
  top: calc(100% + 30px);
  left: calc(-60px);
  position: absolute;
}

.step-img-2 {
  left: 50%;
}

.bg-screen-2 {
  left: calc(50% + 32px) !important;
}

/* Meals */
#meal {
  margin-bottom: 86px;
}

#meal .sub-title {
  text-transform: uppercase;
  font-weight: 500;
  color: #cf711f;
  font-size: 16px;
  text-align: center;
  margin-bottom: 16px;
}

#meal .title {
  color: #333;
  font-size: 44px;
  font-weight: 700;
  text-transform: unset;
  text-align: center;
  margin-bottom: 96px;
}

.recipe-container {
  display: flex;
  gap: 40px;
}

.recipe-container .recipe-box {
  box-shadow: 0 24px 48px rgb(0 0 0 / 8%);
  width: 30%;
  border-radius: 12px;
  overflow: hidden;
}

.recipe-box .recipe-img {
  width: 100%;
}

.recipe-box .recipe-title {
  padding: 4px 8px;
  font-size: 12px;
  background-color: #51cf66;
  display: inline-block;
  text-transform: uppercase;
  padding: 2px 8px;
  border-radius: 8px;
  font-weight: 500;
  margin-right: 10px;
}

.recipe-box .recipe-title:nth-child(2) {
  background-color: #ffd43b;
}

.recipe-info {
  padding: 28px 42px 42px 42px;
}

.recipe-box .recipe-name {
  font-size: 22px;
  margin-top: 8px;
}

.recipe-detail {
  margin-top: 28px;
  list-style: none;
}

.recipe-detail .detail-item {
  display: flex;
  font-size: 16px;
  margin-top: 20px;
}

.detail-item .detail-item-icon {
  margin-right: 10px;
  color: #e67e22;
  font-size: 18px;
}

.detail-item .make-bold {
  font-weight: 700;
}

/* .recipe-check-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
} */

.recipe-check-list .check-title {
  color: #333;
  font-weight: 700;
  font-size: 22px;
}

.recipe-check-list .check-list-container {
  margin-top: 28px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.check-list-container .check-list-item {
  display: flex;
  gap: 16px;
}

.check-list-item .check-list-icon {
  color: #e67e22;
  font-size: 26px;
}

.check-list-item .item-name {
  font-size: 18px;
  line-height: 26px;
}

.tempt-spacing {
  height: 100px;
}

.recipe-link {
  margin-top: 40px;
  text-align: center;
}

.recipe-link .see-all-recipe {
  color: #e67e22;
  font-size: 16px;
  text-decoration: none;
  padding: 2px;
  border-bottom: 1px solid #cf711f;
}

.recipe-link .see-all-recipe:hover {
  border-bottom: none;
}

/* testinomial */

#testinomial {
  background-color: #fae5d3;
  padding-top: 96px;
  padding-bottom: 96px;
}
.testinomial-container {
  display: flex;
  gap: 48px;
  column-gap: 48px;
  row-gap: 48px;
}
#testinomial .customer-opinion {
  width: calc(50% - 48px);
}
/* .customer-opinion .heading {
} */
.customer-opinion .heading .sub-title {
  font-size: 16px;
  font-weight: 500;
  color: #cf711f;
  margin-bottom: 16px;
}
.customer-opinion .heading .title {
  font-size: 44px;
  line-height: 1.2;
  margin-bottom: 96px;
  font-weight: 700;
  color: #333;
  text-transform: unset;
}
.customer-opinion .content-container .opinion-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}
.content-container .opinion-list .opinion-item {
  width: calc(50% - 48px);
}
.opinion-item .opinion-img {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  margin-bottom: 12px;
}
.opinion-item .opinion-content {
  font-size: 18px;
  margin-bottom: 16px;
}
/* .opinion-item .customer-name {
} */

.testinomial-container .img-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 16px;
}

.testinomial-container .img-container .item-img {
  width: 100%;
}

/* pricing-section */
/* .pricing-section {
} */

.pricing-section-container {
  padding: 96px 0;
}
#pricing-section .pricing-sub-label {
  font-size: 16px;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 16px;
}

#pricing-section .pricing-label {
  font-weight: 700;
  color: #333;
  font-size: 36px;
  margin-bottom: 86px;
}

#pricing-section .pricing-box-container {
  display: grid;
  column-gap: 48px;
  row-gap: 64px;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 28px;
}

#pricing-section .pricing-box-container .pricing-box {
  border: 2px solid #fdf2e9;
  padding: 46px;
  margin: 0px 0px 0px 120px;
  text-align: center;
}

.pricing-box-container .pricing-box:not(:first-child) {
  margin-left: 0px;
  margin-right: 120px;
}

.pricing-box .pricing-name {
  color: #cf711f;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 26px;
}

.pricing-box .pricing-price {
  font-size: 62px;
  font-weight: 600;
  color: #333;
  margin-bottom: 16px;
}

.make-price {
  font-size: 30px;
}

.pricing-box .pricing-des {
  font-size: 16px;
  line-height: 1.6;
  color: #6f6f6f;
  margin-bottom: 44px;
}

.pricing-box .pricing-detail {
  list-style: none;
  font-size: 20px;
  display: flex;
  align-items: left;
  gap: 16px;
  line-height: 1.2;
  flex-direction: column;
  text-align: left;
}

.pricing-detail .pricing-item {
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 16px;
  line-height: 1.2;
  text-align: left;
}

.pricing-detail .pricing-icon {
  width: 24px;
  height: 24px;
  color: #cf711f;
}

.bt-start-eating {
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  padding: 16px 32px;
  border-radius: 9px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  /* transition: background-color 0.3s; */
  transition: all 0.3s;
  margin-top: 52px;
  background-color: #e67e22;
  color: #fff;
}

.pricing-box-2 .bt-start-eating {
  margin-top: 50px;
}

.pricing-box-2 {
  background-color: #fdf2e9;
  position: relative;
  overflow: hidden;
}

.pricing-box-2::after {
  content: "Best value";
  position: absolute;
  top: 6%;
  right: -18%;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: #333;
  background-color: #ffd43b;
  padding: 8px 80px;
  transform: rotate(45deg);
}

#pricing-section .pricing-description {
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: #555;
  margin-bottom: 80px;
}

/* Plan principle  */

.plan-principle-list {
  display: grid;
  list-style: none;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.plan-principle .principle-item {
}

.principle-item {
}

.principle-item .principle-item-icon-container {
}

.principle-item .principle-item-icon {
  width: 64px;
  height: 64px;
  color: #e67e22;
  background-color: #fdf2e9;
  padding: 12px;
  border-radius: 100%;
  margin-bottom: 32px;
}

.principle-item .title {
  font-size: 24px;
  color: #333;
  font-weight: 700;
  margin-bottom: 16px;
}

.principle-item .description {
  font-size: 18px;
  line-height: 1.8;
  color: #555;
  column-gap: 64px;
}

.feed-back-section-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 32px;
  row-gap: 24px;
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.35),
      rgba(230, 125, 34, 0.35)
    ),
    url(../img/eating.jpg);
  background-size: cover;
  background-position: center;
}

.feed-back-info {
}

.feed-back-info .feed-back-heading {
}

.feed-back-info .feed-back-heading .feed-back-title {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.feed-back-info .feed-back-heading .feed-back-description {
}

.feed-back-info .feed-back-input .label-input {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.feed-back-info .feed-back-input .input {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.feed-back-info .btn-signup {
}

.feed-back-picture-container {
  width: 340px;
}

.feed-back-picture {
  width: 100%;
}
